@import "tailwindcss";

@font-face {
  font-family: 'Shabnam';
  src: url('./fonts/Shabnam-Medium-FD.woff2') format('woff2'),
       url('./fonts/Shabnam-Medium-FD.woff2') format('woff2');
}
@font-face {
  font-family: 'Estedad';
  src: url('./fonts/Estedad-Medium.woff2') format('woff2'),
       url('./fonts/Estedad-Medium.woff2') format('woff2');
}

body {
  font-family: 'Estedad';
  direction: rtl;
  background: #fff;
  color: #474646;
  font-weight: 400;
}

.Toastify__toast-container--top-right{
  padding: 10px 0 0 32px !important
}

.shadow-bottom {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -25px;
}